<div class="financial-purpose">
  <div class="financial-purpose__container">
    <mat-card class="financial-purpose__card">
      <mat-card-header class="financial-purpose__card__header">
        <mat-icon class="financial-purpose__card__header__icon">{{ isEditMode ? 'edit' : 'add_circle' }}</mat-icon>
        <div class="financial-purpose__card__header__content">
          <mat-card-title class="financial-purpose__card__header__title">
            {{ isEditMode ? 'Editar propósito financeiro' : 'Criar um novo propósito financeiro' }}
          </mat-card-title>
          <mat-card-subtitle class="financial-purpose__card__header__subtitle">
            {{ isEditMode ? 'Atualizar detalhes do propósito financeiro' : 'Definir um novo propósito financeiro' }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content class="financial-purpose__card__content">
        <form
          class="financial-purpose__form"
          [formGroup]="financialForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="financial-purpose__form__row">
            <mat-form-field
              class="financial-purpose__form__field"
              [appearance]="'outline'"
            >
              <mat-label>Nome</mat-label>
              <input
                matInput
                placeholder="e.g., Emergency Fund"
                formControlName="name"
              />
              <mat-icon matPrefix>label</mat-icon>

              @if (financialForm.get('name')?.hasError('required')) {
                <mat-error> Este campo é obrigatório. </mat-error>
              } @else if (financialForm.get('name')?.hasError('minlength')) {
                <mat-error> O nome deve ter 3 caractéres no mínimo. </mat-error>
              } @else if (financialForm.get('name')?.hasError('maxlength')) {
                <mat-error>O nome não pode exceder 100 caractéres.</mat-error>
              }
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="financial-purpose__form__field"
            >
              <mat-label>Ordem de Prioridade</mat-label>
              <input
                matInput
                type="number"
                formControlName="order"
                placeholder="e.g., 1"
              />
              <mat-icon matPrefix>sort</mat-icon>

              @if (financialForm.get('order')?.hasError('required')) {
                <mat-error>Este campo é obrigatório.</mat-error>
              } @else if (financialForm.get('order')?.hasError('min') || financialForm.get('order')?.hasError('max')) {
                <mat-error> Ordem deve ser entre 1 e 1.000</mat-error>
              }
            </mat-form-field>

            <mat-form-field
              class="financial-purpose__form__field"
              [appearance]="'outline'"
            >
              <mat-label>Valor</mat-label>
              <input
                matInput
                type="number"
                step="0.01"
                formControlName="amount"
                placeholder="e.g., 1000.00"
              />
              <mat-icon matPrefix>attach_money</mat-icon>

              @if (financialForm.get('amount')?.hasError('required')) {
                <mat-error> Este campo é obrigatório. </mat-error>
              } @else if (financialForm.get('amount')?.hasError('min')) {
                <mat-error> Valor deve ser maior que 0 (zero). </mat-error>
              }
            </mat-form-field>
          </div>

          <mat-form-field
            class="financial-purpose__form__field--full"
            [appearance]="'outline'"
          >
            <mat-label>Descrição</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Informe uma descrição detalhada do seu propósito financeiro."
              rows="4"
            ></textarea>
            <mat-icon matPrefix>description</mat-icon>

            @if (financialForm.get('description')?.hasError('required')) {
              <mat-error> Este campo é obrigatório. </mat-error>
            } @else if (financialForm.get('description')?.hasError('minlength')) {
              <mat-error> Deve conter 10 caractéres no mínimo. </mat-error>
            } @else if (financialForm.get('description')?.hasError('maxlength')) {
              <mat-error> Deve conter 500 caractéres no máximo. </mat-error>
            }
          </mat-form-field>

          <div class="financial-purpose__form__row">
            <mat-form-field
              class="financial-purpose__form__field"
              [appearance]="'outline'"
            >
              <mat-label>Situação</mat-label>
              <mat-select formControlName="status">
                @for (item of statusOptions; track $index) {
                  <mat-option [value]="item">
                    {{ item }}
                  </mat-option>
                }
              </mat-select>
              <mat-icon matPrefix>info</mat-icon>

              @if (financialForm.get('status')?.hasError('required')) {
                <mat-error> Este campo é obrigatório. </mat-error>
              }
            </mat-form-field>

            <mat-form-field
              class="financial-purpose__form__field"
              [appearance]="'outline'"
            >
              <mat-label>Última atualização</mat-label>
              <input
                matInput
                [matDatepicker]="updatedPicker"
                formControlName="updatedAt"
                readonly
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="updatedPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #updatedPicker></mat-datepicker>

              @if (financialForm.get('updatedAt')?.hasError('required')) {
                <mat-error> Este campo é obrigatório. </mat-error>
              }
            </mat-form-field>
          </div>

          <mat-form-field
            class="financial-purpose__form__field--full"
            [appearance]="'outline'"
          >
            <mat-label>Concluído em</mat-label>
            <input
              matInput
              [matDatepicker]="releasedPicker"
              formControlName="releasedAt"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="releasedPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #releasedPicker></mat-datepicker>
          </mat-form-field>

          <div class="financial-purpose__form__actions">
            <button
              mat-raised-button
              type="submit"
              [color]="'primary'"
              [disabled]="!financialForm.valid"
            >
              <mat-icon>{{ isEditMode ? 'save' : 'check_circle' }}</mat-icon>
              {{ isEditMode ? 'Atualizar' : 'Criar' }}
            </button>
            <button
              mat-stroked-button
              type="button"
              (click)="cancel()"
            >
              <mat-icon>close</mat-icon>
              Cancelar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
